/.idea/
**/.DS_Store
.idea/
.DS_Store
Midterms/javafx-sdk-25.0.2/legal/javafx.base/ADDITIONAL_LICENSE_INFO
Midterms/javafx-sdk-25.0.2/legal/javafx.base/ASSEMBLY_EXCEPTION
Midterms/javafx-sdk-25.0.2/legal/javafx.base/LICENSE
Midterms/javafx-sdk-25.0.2/legal/javafx.controls/ADDITIONAL_LICENSE_INFO
Midterms/javafx-sdk-25.0.2/legal/javafx.controls/ASSEMBLY_EXCEPTION
Midterms/javafx-sdk-25.0.2/legal/javafx.controls/LICENSE
Midterms/javafx-sdk-25.0.2/legal/javafx.fxml/ADDITIONAL_LICENSE_INFO
Midterms/javafx-sdk-25.0.2/legal/javafx.fxml/ASSEMBLY_EXCEPTION
Midterms/javafx-sdk-25.0.2/legal/javafx.fxml/LICENSE
Midterms/javafx-sdk-25.0.2/legal/javafx.graphics/ADDITIONAL_LICENSE_INFO
Midterms/javafx-sdk-25.0.2/legal/javafx.graphics/ASSEMBLY_EXCEPTION
Midterms/javafx-sdk-25.0.2/legal/javafx.graphics/jpeg_fx.md
Midterms/javafx-sdk-25.0.2/legal/javafx.graphics/LICENSE
Midterms/javafx-sdk-25.0.2/legal/javafx.graphics/mesa3d.md
Midterms/javafx-sdk-25.0.2/legal/javafx.graphics/pipewire.md
Midterms/javafx-sdk-25.0.2/legal/javafx.media/ADDITIONAL_LICENSE_INFO
Midterms/javafx-sdk-25.0.2/legal/javafx.media/ASSEMBLY_EXCEPTION
Midterms/javafx-sdk-25.0.2/legal/javafx.media/directshow.md
Midterms/javafx-sdk-25.0.2/legal/javafx.media/glib.md
Midterms/javafx-sdk-25.0.2/legal/javafx.media/gstreamer.md
Midterms/javafx-sdk-25.0.2/legal/javafx.media/libffi.md
Midterms/javafx-sdk-25.0.2/legal/javafx.media/LICENSE
Midterms/javafx-sdk-25.0.2/legal/javafx.swing/ADDITIONAL_LICENSE_INFO
Midterms/javafx-sdk-25.0.2/legal/javafx.swing/ASSEMBLY_EXCEPTION
Midterms/javafx-sdk-25.0.2/legal/javafx.swing/LICENSE
Midterms/javafx-sdk-25.0.2/legal/javafx.web/ADDITIONAL_LICENSE_INFO
Midterms/javafx-sdk-25.0.2/legal/javafx.web/ASSEMBLY_EXCEPTION
Midterms/javafx-sdk-25.0.2/legal/javafx.web/icu_web.md
Midterms/javafx-sdk-25.0.2/legal/javafx.web/libxml2.md
Midterms/javafx-sdk-25.0.2/legal/javafx.web/libxslt.md
Midterms/javafx-sdk-25.0.2/legal/javafx.web/LICENSE
Midterms/javafx-sdk-25.0.2/legal/javafx.web/webkit.md
Midterms/javafx-sdk-25.0.2/legal/jdk.jsobject/ADDITIONAL_LICENSE_INFO
Midterms/javafx-sdk-25.0.2/legal/jdk.jsobject/ASSEMBLY_EXCEPTION
Midterms/javafx-sdk-25.0.2/legal/jdk.jsobject/LICENSE
Midterms/javafx-sdk-25.0.2/legal/jfx.incubator.input/ADDITIONAL_LICENSE_INFO
Midterms/javafx-sdk-25.0.2/legal/jfx.incubator.input/ASSEMBLY_EXCEPTION
Midterms/javafx-sdk-25.0.2/legal/jfx.incubator.input/LICENSE
Midterms/javafx-sdk-25.0.2/legal/jfx.incubator.richtext/ADDITIONAL_LICENSE_INFO
Midterms/javafx-sdk-25.0.2/legal/jfx.incubator.richtext/ASSEMBLY_EXCEPTION
Midterms/javafx-sdk-25.0.2/legal/jfx.incubator.richtext/LICENSE
Midterms/javafx-sdk-25.0.2/legal/jfx.incubator.richtext/unicode-fx.md
Midterms/javafx-sdk-25.0.2/lib/javafx-swt.jar
Midterms/javafx-sdk-25.0.2/lib/javafx.base.jar
Midterms/javafx-sdk-25.0.2/lib/javafx.controls.jar
Midterms/javafx-sdk-25.0.2/lib/javafx.fxml.jar
Midterms/javafx-sdk-25.0.2/lib/javafx.graphics.jar
Midterms/javafx-sdk-25.0.2/lib/javafx.media.jar
Midterms/javafx-sdk-25.0.2/lib/javafx.properties
Midterms/javafx-sdk-25.0.2/lib/javafx.swing.jar
Midterms/javafx-sdk-25.0.2/lib/javafx.web.jar
Midterms/javafx-sdk-25.0.2/lib/jdk.jsobject.jar
Midterms/javafx-sdk-25.0.2/lib/jfx.incubator.input.jar
Midterms/javafx-sdk-25.0.2/lib/jfx.incubator.richtext.jar
Midterms/javafx-sdk-25.0.2/lib/libdecora_sse.dylib
Midterms/javafx-sdk-25.0.2/lib/libfxplugins.dylib
Midterms/javafx-sdk-25.0.2/lib/libglass.dylib
Midterms/javafx-sdk-25.0.2/lib/libglib-lite.dylib
Midterms/javafx-sdk-25.0.2/lib/libgstreamer-lite.dylib
Midterms/javafx-sdk-25.0.2/lib/libjavafx_font.dylib
Midterms/javafx-sdk-25.0.2/lib/libjavafx_iio.dylib
Midterms/javafx-sdk-25.0.2/lib/libjfxmedia.dylib
Midterms/javafx-sdk-25.0.2/lib/libjfxmedia_avf.dylib
Midterms/javafx-sdk-25.0.2/lib/libjfxwebkit.dylib
Midterms/javafx-sdk-25.0.2/lib/libprism_common.dylib
Midterms/javafx-sdk-25.0.2/lib/libprism_es2.dylib
Midterms/javafx-sdk-25.0.2/lib/libprism_mtl.dylib
Midterms/javafx-sdk-25.0.2/lib/libprism_sw.dylib
Midterms/javafx-sdk-25.0.2/src.zip
Midterms/openjfx-25.0.2_osx-aarch64_bin-sdk.zip
